:root {
    --mainBgColor: #191919;
    --mainAppTextColor: #C84B31;
    --altAppTextColor: #ECDBBA;
}

/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: white;
}

body {
    width: 300px;
    height: 450px;
}

.app {
    height: 100%;
    padding: 20px;
    background-color: var(--mainBgColor);
}

.toolbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 95px;
    height: 50px;
    color: white;
}

.toolbar button {
    display: inline-block;
    height: 100%;
    color: var(--mainAppTextColor);
    background-color: transparent;
    border: none;
    margin: 0 10px;
}

.toolbar button:hover {
    color: var(--altAppTextColor);
    transform: 0.5s;
}

.toolbar button i {
    font-size: 30px;
}

.window-title {
    padding-left: 10px;
    color: var(--mainAppTextColor);
}

.window-subtitle {
    padding-left: 10px;
    color: var(--altAppTextColor);
}

.search-input {
    display: block;
    margin: 15px auto;
    width: 85%;
    padding: 10px 20px;
    background-color: var(--mainAppTextColor);
    color: black;
    border: 2px solid black;
}

.search-input::placeholder {
    color: black;
}

.search-button {
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    background-color: var(--mainAppTextColor);
    border: 2px solid black;
    color: black;
    transition: 0.25s;
}

.search-button:active {
    background-color: gray;
}

.address-text {
    margin: 20px auto;
    width: 95%;
    word-wrap: break-word;
}

.copy-button {
    margin: 0 auto;
    display: block;
    width: 80%;
    word-wrap: break-word;
    height: 75px;
    padding: 10px 20px;
    background-color: var(--mainAppTextColor);
    border: 2px solid black;
    color: black;
    transition: 0.25s;
}

.copy-button:active {
    background-color: gray;
}

.divider {
    margin: 15px auto;
    width: 80%;
    border: .5px dashed #000;
    opacity: .1;
}

.settings-title {
    color: var(--mainAppTextColor);
    padding-top: 20px;
    font-size: 20px;
}

.settings-value {
    color: var(--altAppTextColor);
}