/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 300px;
    height: 450px;
}

.app {
    height: 100%;
    padding: 20px;
    background-color: lightgray;
}

.toolbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 60px;
    height: 50px;
    color: white;
}

.toolbar button {
    display: inline-block;
    height: 100%;
    color: black;
    background-color: transparent;
    border: none;
    margin: 0 10px;
}

.toolbar button:hover {
    color: blue;
    transform: 0.5s;
}

.toolbar button i {
    font-size: 30px;
}

.window-title {
    padding-left: 10px;
}

.window-subtitle {
    padding-left: 10px;
}

.search-input {
    display: block;
    margin: 15px auto;
    width: 85%;
    padding: 10px 20px;
}

.search-button {
    border: 0;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

.search-button:focus {
    outline: none;
}

.search-button:hover {
    transform: scale(1.1);
}

.address-text {
    margin: 20px auto;
    width: 95%;
    word-wrap: break-word;
}

.copy-button {
    margin: 0 auto;
    display: block;
    width: 80%;
    word-wrap: break-word;
    height: 75px;
    padding: 10px 20px;
}

.divider {
    margin: 15px auto;
    width: 80%;
    border: .5px dashed #000;
    opacity: .1;
}

.settings-title {
    color: black;
    padding-top: 20px;
    font-size: 20px;
}

.settings-value {
    color: blue;
}